<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <mat-form-field floatPlaceholder="never" width="100%" color="accent">
                <input matInput #filter placeholder="Recherche">
              </mat-form-field>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des commandes</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!-- <th>
                                        ID
                                    </th> -->
                                    <th>
                                        Commande ID
                                    </th>
                                    <th>
                                        Client
                                    </th>
                                    <th> 
                                        Nbr carte
                                    </th>
                                    <th> 
                                        Total
                                    </th>
                                    <th> 
                                        Crée le 
                                    </th>
                                    <th> 
                                        Livraison
                                    </th>
                                    <th> 
                                        Facture
                                    </th>
                                    <th>
                                        Livrer 
                                    </th>
                                    <th>
                                        
                                    </th>
                                </thead>
                                <tbody>
                                    <div class="no-results" [style.display]="orders?.length == 0 ? '' : 'none'">
                                        aucun résultat
                                      </div>
                                    <tr *ngFor="let item of orders">
                                        <td>
                                            {{item?.orderId}}
                                        </td>
                                        <td>
                                            {{item?.userEmail}}
                                        </td>
                                        <td> 
                                            {{item?.counter}}
                                        </td>
                                        <td> 
                                            {{item?.total}}
                                        </td>
                                        <td> 
                                            {{item?.createdAt | date:"MM/dd/yyyy"}} 
                                        </td>
                                        <td> 
                                            <span class="badge text-white"
         [ngClass]="{' bg-danger  mr-1' : item?.status.trim() == 'DISABLED' ,  ' bg-warning ': item?.status.trim() == 'pending', 
       'bg-success ': item?.status.trim() == 'ACTIVATED'}">{{item?.status | status}}</span>
                                        </td>
                                        <td> 
                                            <button class="btn btn-danger" style="font-size: 12px;"
                                                        (click)="downloadAsPDF(item)">Telecharger</button>
                                        </td>
                                        <td> 
                                            <mat-slide-toggle [checked]="item?.enabled" (change)="onChangeStatus($event, item)"></mat-slide-toggle>
                                        </td>
                                        <td>
                                            <button mat-icon-button color="accent" (click)="orderDetails(item?.orderId)">
                                                <mat-icon class="text-warn"  aria-label="Delete">open_in_new</mat-icon>
                                              </button>
                                        </td>
                                   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div [hidden]="true">
    <div class="container" id="pdfTable" #pdfTable>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="d-flex flex-row p-2">
                        <div class="d-flex flex-column"> <span class="font-weight-bold">Commande
                                ID</span> <small> {{id}}</small> </div>

                    </div>

                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <th>A</th>
                                    <th>De</th>
                                </tr>
                                <tr class="content">
                                    <td class="font-weight-bold"> {{user}}  <br></td>
                                    <td class="font-weight-bold">info@e-shkoon.com <br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <th>Nom Carte</th>
                                    <!-- <th>Type</th> -->
                                    <th>Nom et prenom</th>
                                    <th>Abonnement</th>
                                    <!-- <th class="text-center">Total</th> -->
                                </tr>
                                <tr *ngFor="let item of orders" class="content">
                                    <td>{{cardName}} </td>
                                    <!-- <td>{{item?.typeCard}}</td> -->
                                    <td>{{firstName}} {{lastName}}</td>
                                    <td>{{subs}} </td>
                                    <!-- <td class="text-center">{{item?.typeCard}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td></td>
                                    <th>Sous-Total</th>
                                    <th>Taxe</th>
                                    <th class="text-center">Total</th>
                                </tr>
                                <tr class="content">
                                    <td></td>
                                    <td>{{total}}  TND</td>
                                    <td>0</td>
                                    <td class="text-center">{{total}} TND</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="address p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>Adresse :</td>
                                </tr>
                                <tr class="content">
                                    <td> {{address}} <br>
                                        Num Tel : {{phoneNum}}  <br> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>