<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des commandes</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div style="width: 70%;">
                                <mat-form-field floatPlaceholder="never" width="100%" color="accent">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
                                </mat-form-field>
                            </div>
                            <mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="Commande ID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Commande ID </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.orderId}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Client">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.userEmail}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Nbr">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nbr carte</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.counter}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Total">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.total}} TND</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Crée le</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row?.createdAt | date:"MM/dd/yyyy"}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Livraison</mat-header-cell>
                                    <mat-cell *matCellDef="let row"><span class="badge text-white" [ngClass]="{' bg-danger  mr-1' : row?.status.trim() == 'DISABLED' ,  ' bg-warning ': row?.status.trim() == 'pending', 
                                      'bg-success ': row?.status.trim() == 'ACTIVATED'}">{{row?.status |
                                            status}}</span> </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Facture">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Facture</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <button class="btn btn-danger"
                                            style="font-size: 12px;" (click)="downloadAsPDF(item)">Telecharger</button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Livrer">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Livrer</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <mat-slide-toggle [checked]="item?.enabled"
                                            (change)="onChangeStatus($event, item)"></mat-slide-toggle>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Detail">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <button mat-icon-button color="accent"
                                            (click)="orderDetails(item?.orderId)">
                                            <mat-icon class="text-warn" aria-label="Delete">open_in_new</mat-icon>
                                        </button> </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div [hidden]="true">
    <div class="container" id="pdfTable" #pdfTable>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="d-flex flex-row p-2">
                        <div class="d-flex flex-column"> <span class="font-weight-bold">Commande
                                ID</span> <small> {{id}}</small> </div>

                    </div>

                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <th>A</th>
                                    <th>De</th>
                                </tr>
                                <tr class="content">
                                    <td class="font-weight-bold"> {{user}} <br></td>
                                    <td class="font-weight-bold">info@e-shkoon.com <br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <th>Nom Carte</th>
                                    <!-- <th>Type</th> -->
                                    <th>Nom et prenom</th>
                                    <th>Abonnement</th>
                                    <!-- <th class="text-center">Total</th> -->
                                </tr>
                                <tr *ngFor="let item of orders" class="content">
                                    <td>{{cardName}} </td>
                                    <!-- <td>{{item?.typeCard}}</td> -->
                                    <td>{{firstName}} {{lastName}}</td>
                                    <td>{{subs}} </td>
                                    <!-- <td class="text-center">{{item?.typeCard}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td></td>
                                    <th>Sous-Total</th>
                                    <th>Taxe</th>
                                    <th class="text-center">Total</th>
                                </tr>
                                <tr class="content">
                                    <td></td>
                                    <td>{{total}} TND</td>
                                    <td>0</td>
                                    <td class="text-center">{{total}} TND</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="address p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>Adresse :</td>
                                </tr>
                                <tr class="content">
                                    <td> {{address}} <br>
                                        Num Tel : {{phoneNum}} <br> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>