<h1 mat-dialog-title>Modifier un plat </h1>
<form [formGroup]="cardForm" (ngSubmit)="submit()">
<div mat-dialog-content>
    <mat-form-field appearance="outline">
    <mat-label>Nom </mat-label>
    <input type="text" formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Catégorie</mat-label>
    <mat-select formControlName="menuCategoryMenuCategoryId" >
        <mat-option *ngFor="let item of menu"  [value]="item.menuCategoryId">
        {{ item.name }}
       </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Ingredient </mat-label>
    <textarea matInput formControlName="ingredient"  cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                    cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-label >Importer une image</mat-label>
    <div class="col-md-9 " style="padding-bottom: 4%;">
      <input  type="file" id="image" class="file-input" (change)="onSelectedFile($event)" />
        <img *ngIf="check" src="{{img}}" width="100px">
        <img *ngIf="!check" src="{{path}}{{img}}" width="100px">

  </div>
  <mat-form-field appearance="outline">
    <mat-label>Prix </mat-label>
    <input type="text" formControlName="price" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions  class="mt-15">
  <button type="submit" mat-raised-button class="btn" 
   cdkFocusInitial>Modifier</button>
  <button mat-raised-button mat-dialog-close>Annuler</button>
</div></form>