
.section-title{
    margin-bottom: 0;
        }
    
    .mini{
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        /* color: #aaaaaa ; */
        font-family: 'Arimo', sans-serif;
    }
    
    .stl{
        font-size: 12px;
    }
    
    .card-header{
      background-color: var(--primary);
      color: white;
  }
    
        .section-title {
            font-size: 36px;
            font-weight: 500;
            padding: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            /* color: #aaaaaa ; */
            font-family: 'Arimo', sans-serif;
          }
          
          .section-title h2::after {
            content: "";
            width: 120px;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.2);
          }
          
          .section-title p {
            margin: 0;
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            font-family: 'Arimo', sans-serif;
            color: #cda45e;
          }
    
          @media print{
          
            .card-header{
              background-color: var(--primary) !important;
      border: 1px solid #3B5D50 ;

              color: black;
          }
            .cl{
                width: 50%;
            }
          
              footer {
                position: fixed;
                bottom: 0;
                width: 100%;
              }
          }