<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-user-o"></span>
              </div>
              <h3 class="text-center mb-4">Vous aver un compte?</h3>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
                <mat-form-field appearance="outline" class="form-field " >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" name="email" >
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">L'email est
                        obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field " >
                    <mat-label>Mot de passe</mat-label>

                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est
                        obligatoire</mat-error>
                </mat-form-field>
            <div class="form-group d-md-flex">
                <div class="w-50 text-md-left">
                                <a (click)="forgotPassword()" >Mot de passe oublié ?</a>
                            </div>
                            <div class="w-50 text-md-right">
                                <a routerLink="/register">Créer un compte</a>
                            </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary rounded submit p-3 px-5 mt-4">Se connecter</button>
            </div>
          </form>
        </div>
            </div>
        </div>
    </div>
</section>