<div *ngIf="isLoading">
  <div id="spinner"
  class=" show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
</div>


<div  *ngIf="!isLoading" class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des commandes</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <div style="width: 70%;">
                              <mat-form-field floatPlaceholder="never" width="100%" color="accent">
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
                              </mat-form-field>
                          </div>
                          <mat-table [dataSource]="dataSource" matSort>
                              <ng-container matColumnDef="MenuID">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> MenuID </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.menuId}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Client">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
                                  <mat-cell *matCellDef="let row">{{row?.email}}</mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Numéro de téléphone">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Numéro de téléphone</mat-header-cell>
                                  <mat-cell *matCellDef="let row">{{row?.phoneNum}}</mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Nom Resto">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom Resto</mat-header-cell>
                                  <mat-cell *matCellDef="let row">{{row?.restoName}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Nombre des tables">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre des tables</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row?.nbrMenu}} </mat-cell>
                            </ng-container>
                              <ng-container matColumnDef="Date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row?.createdAt | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Qr code">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>QR code</mat-header-cell>
                                  <mat-cell *matCellDef="let row"><span class="badge text-white"><img src="{{path}}{{row?.qrImg}}" class="img-sm img-thumbnail"></span> </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="telecharger">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Télécharger QR code</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <button mat-icon-button color="accent"
                                    (click)="downloadImage(row?.qrImg)">
                                        <mat-icon class="text-warn" aria-label="Delete">download</mat-icon>
                                    </button> </mat-cell>
                            </ng-container>
                              <ng-container matColumnDef="modifier">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Voir détail</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> <button mat-icon-button color="accent"
                                          (click)="menuDetails(row)">
                                          <mat-icon class="text-warn" aria-label="Delete">open_in_new</mat-icon>
                                      </button> </mat-cell>
                              </ng-container>

                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;">
                              </mat-row>
                          </mat-table>
                          <div class="no-results" *ngIf="dataSource.data.length == 0">Aucun résultat</div>

                          <mat-paginator #paginator [pageSizeOptions]="[ 3,10, 25, 50, 100]" [pageSize]="3" ></mat-paginator>

                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

<div [hidden]="true">
  <div class="container" id="pdfTable" #pdfTable>
      <div class="row d-flex justify-content-center">
          <div class="col-md-8">
              <div class="card">
                <img src="{{path}}{{img}}" class="img-sm img-thumbnail">
          </div>
          </div>
          </div>
          </div>
          </div>
