<h1 mat-dialog-title>Modifier une catégorie</h1>
<form [formGroup]="categForm" (ngSubmit)="submit()">
<div mat-dialog-content>
    <mat-form-field appearance="outline">
    <mat-label>Nom </mat-label>
    <input type="text" formControlName="name" matInput>
  </mat-form-field>
  <!-- <mat-form-field appearance="outline">
    <mat-label>Prix </mat-label>
    <input type="text" formControlName="price" matInput>
  </mat-form-field> -->
</div>
<div mat-dialog-actions  class="mt-15">
  <button type="submit" mat-raised-button class="btn" 
   cdkFocusInitial>Modifier</button>
  <button mat-raised-button mat-dialog-close>Annuler</button>
</div></form>
