


<h1 id="createCard" mat-dialog-title>Ajouter une nouvelle carte</h1>
<form [formGroup]="cardForm" (ngSubmit)="submit()">
<div mat-dialog-content>
    <mat-form-field appearance="outline">
    <mat-label>Nom </mat-label>
    <input type="text" formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Type Carte</mat-label>
    <mat-select formControlName="cardTypeCardTypeId" [formControl]="selectedFW">
        <mat-option *ngFor="let item of menu" [value]="item?.cardTypeId">
        {{ item?.name }}
       </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
  <!-- <input 
  *ngIf="!imagePath" type="file" 
  (change)="handleProfilePictureInput($event.target.files)"> -->
    <mat-label >Importer une image</mat-label>
    <div class="col-md-9 " style="padding-bottom: 4%;">
      <input  type="file" id="image" class="file-input" (change)="onSelectedFile($event)" />
        <img [src]="imagePath" width="100px">
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea id="myTextarea" matInput id="story" formControlName="description"
          rows="5" cols="33"></textarea>
    <!-- <textarea matInput formControlName="description" cdkTextareaAutosize
    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
   ></textarea> -->
    <!-- <input type="text" formControlName="description" matInput> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Prix </mat-label>
    <input type="text" formControlName="price" matInput>
  </mat-form-field>
  <mat-radio-group formControlName="isService" required aria-label="Select an option">
    <mat-radio-button class="px-3" value="false">Produit</mat-radio-button>
    <mat-radio-button value="true">Service</mat-radio-button>
  </mat-radio-group>


</div>
<div mat-dialog-actions class="mt-15">
  <button type="submit" mat-raised-button class="btn"
   cdkFocusInitial>Ajouter</button>
  <button mat-raised-button mat-dialog-close>Annuler</button>
</div>
</form>
