<section class="section-content padding-y bg">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <main class="col-md-12">
                <article class="card mb-4">
                    <p class="m-3">Lien : {{menu?.link}}
</p>
                    <form #myForm="ngForm" name="ngform"  (ngSubmit)="submitForm1()">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Informations du Restaurant</h4>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Nom</mat-label>
                                    <input matInput [disabled]="true" [value]="menu.restoName">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Email</mat-label>
                                    <input matInput name="email" [(ngModel)]="menu.email"   #email="ngModel">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="form-field col-sm-6">
                                    <mat-label>Numéro de téléphone</mat-label>
                                    <input matInput name="phoneNum" [(ngModel)]="menu.phoneNum"   #phoneNum="ngModel">
                                    <!-- <mat-error
                                        *ngIf="firstFormGroup.get('ville').hasError('required')">La
                                        ville est
                                        obligatoire</mat-error> -->
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-field col-sm-6">
                                    <mat-label>Horaires</mat-label>
                                    <input matInput name="hour" [(ngModel)]="menu.hour"   #hour="ngModel">
                                    <!-- <mat-error
                                        *ngIf="firstFormGroup.get('ville').hasError('')">La
                                        ville est
                                        obligatoire</mat-error> -->
                                </mat-form-field>
                            </div>

                            <div class="row">

                                <mat-form-field appearance="outline" class="col-sm-12">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput name="description" [(ngModel)]="menu.description"   #description="ngModel"
                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                        cdkAutosizeMaxRows="5"></textarea>
                                </mat-form-field>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-label>Image du fond</mat-label>
                                    <div class="col-md-9 " style="padding-bottom: 4%;">
                                        <input type="file" id="image" class="file-input"
                                            (change)="onSelectedFile($event)" />
                                        <!-- <img [src]="imagePath" width="100px"> -->
                                        <img *ngIf="menu?.backgroundImg && !check" class="img" src="{{menuPath}}{{menu?.backgroundImg}}"
                                        alt="profile image">
                                        <img *ngIf="menu?.backgroundImg && check" class="img" src="{{imagePath}}"
                                        alt="profile image">
                                    <!-- <img *ngIf="menu?.backgroundImg=='' && !check" class="img"
                                        src="assets/img/eshkoon.png"> -->
                                        <img *ngIf="menu?.backgroundImg==''  && check" class="img"
                                        src="{{imagePath}}">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <mat-label>Image du restaurant</mat-label>
                                    <div class="col-md-9 " style="padding-bottom: 4%;">
                                        <input type="file" id="image" class="file-input"
                                            (change)="onSelectedFile2($event)" />
                                            <img *ngIf="menu?.img && !checkBg" class="img" src="{{menuPath}}{{menu?.img}}"
                                        alt="profile image">
                                        <img *ngIf="menu?.img && checkBg" class="img" src="{{imagePath2}}"
                                        alt="profile image">
                                        <!-- <img *ngIf="menu?.img=='' && !checkBg" class="img"
                                        src="assets/img/eshkoon.png"> -->
                                        <img *ngIf="menu?.img==''  && checkBg" class="img"
                                        src="{{imagePath2}}">
                                    </div>
                                </div>
                                <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                    <mat-label>Image du fond</mat-label>
                                    <input matInput name="backgroundImg">

                                </mat-form-field> -->
                                <!-- <mat-form-field appearance="outline" class="form-field col-sm-6">
                                    <mat-label>Image du restaurant</mat-label>
                                    <input matInput name="img">
                                </mat-form-field> -->
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-label>Image Optionnelle</mat-label>
                                    <div class="col-md-9 " style="padding-bottom: 4%;">
                                        <input type="file" id="image" class="file-input"
                                            (change)="onSelectedFile3($event)" />
                                            <img *ngIf="menu?.optionalImg && !checkOpt" class="img" src="{{menuPath}}{{menu?.optionalImg}}"
                                        alt="profile image">
                                        <img *ngIf="menu?.optionalImg && checkOpt" class="img" src="{{imagePath3}}"
                                        alt="profile image">
                                        <!-- <img *ngIf="menu?.optionalImg=='' && !checkOpt" class="img"
                                        src="assets/img/eshkoon.png"> -->
                                        <img *ngIf="menu?.optionalImg==''  && checkOpt" class="img"
                                        src="{{imagePath3}}">
                                    </div>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div> <!-- card-body.// -->
                        <button class="btn btn-primary m-4" style="float: right;">Sauvegarder</button>
                    </form>

                </article>


                <article class="card mb-4">
                    <h4 style="padding-left: 1.25rem;padding-top: 1.25rem" class="card-title mb-4">Informations du Menu
                    </h4>
                    <div class="card-body" style="margin-top: -2%;">
                        <div class="row ">
                            <mat-label class="px-3">Ajouter une catégorie <button (click)="addCateg()" mat-icon-button
                                    color="accent">
                                    <mat-icon class="text-warn" aria-label="Delete">add</mat-icon>
                                </button></mat-label>
                        </div>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip style="cursor: pointer;" *ngFor="let item of categ; let i = index" color="light"
                                selected="">{{item?.name}}  <button mat-icon-button color="accent" (click)="editCateg(item?.menuCategoryId)">
                                    <mat-icon class="text-primary" aria-label="Edit">edit</mat-icon>
                                </button>

                                <button mat-icon-button color="danger" (click)="deleteCateg(item['menuCategoryId'])">
                                    <mat-icon class="text-danger" aria-label="Delete">delete</mat-icon>
                                </button></mat-chip>
                        </mat-chip-list>
                    </div>

                    <div class="card-body">
                        <div class="row table-responsive">
                            <mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="Nom">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du plat </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Categorie">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.menu_category?.name}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Image">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
                                    <mat-cell *matCellDef="let row"><img *ngIf="row?.img!=''" src="{{path}}{{row?.img}}"
                                            class="img-sm img-thumbnail"></mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Prix">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Prix</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.price}} TND</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Ingredient">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ingrédient</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row?.ingredient}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Detail">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header><button mat-icon-button
                                            color="success" (click)="add()">
                                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                        </button></mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button color="accent" (click)="edit(row)">
                                            <mat-icon class="text-primary" aria-label="Edit">edit</mat-icon>
                                        </button>

                                        <button mat-icon-button color="accent" (click)="delete(row['menuDetailsId'])">
                                            <mat-icon class="text-danger" aria-label="Delete">delete</mat-icon>
                                        </button> </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>
                            <div class="no-results" *ngIf="dataSource.data.length === 0">Aucun résultat</div>

                            <!-- <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="totalItems" (page)="onPageChange($event)"></mat-paginator> -->

                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->

        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>