<div class="container-fluid form">
    
    <div class="row form-row " style="margin-bottom: 50px;margin-top: 8%;">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Réinitialisez votre mot de passe</h5>
                    <p>Entrez votre adresse email et nous vous enverrons un mail pour réinitialiser votre mot de passe.
                    </p>
                    <div>
                        
                        <form [formGroup]="RequestResetForm"  (ngSubmit)="RequestResetUser()">
                            <div class="form-group">
                                <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="email"
                                    type="text" id="email" formControlName="email" />
                                    <div style="font-size: 75%" *ngIf="RequestResetForm.get('email')?.invalid && (RequestResetForm.get('email')?.dirty || RequestResetForm.get('email')?.touched)" >
                                        <mat-error *ngIf="RequestResetForm.get('email')?.hasError('required') ">L'email est obligatoire</mat-error>
                                        <mat-error *ngIf="RequestResetForm.get('email')?.hasError('pattern')">
                                            Format attendu : exemple@gmail.com
                                        </mat-error>
                                     </div> 
                            </div>
                            <div class="form-group">
                                <div>
                                    <button [disabled]="!RequestResetForm.valid || verif" type="submit" class=" btn btn-primary">Envoyer mail</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>