.container-fluid, .col-sm-9{
    padding: 20px;
}

form,.form-group{
    
    padding: 10px;
}

.btn-theme {
    background: #3B5D50 !important;
    border: 1px solid #3B5D50 !important;
    color: #fff !important;
  }