.no-results {
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }

  table{
    width: 100%;
  }
  .mat-column-Description {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  padding-right: 3%;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Type {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 16% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Nom{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

   .mat-column-Image{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .message { white-space: pre-wrap;}

  .mat-column-Prix {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Detail {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-row{
  padding-bottom: 2%;
  padding-top: 2%;
  }