<div *ngIf="isLoading">
  <div id="spinner"
  class=" show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
</div>

<div *ngIf="!isLoading" class="main-content">
    <div class="px-2">
        <div class="row">
            <div class="col-md-12">
                        <h4 class="card-title ">Details de la commande</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    <div class="card-body">
                        <div *ngFor="let item of cart"  class="card">
                            <article class="row ">
                                <div class="col-lg-4">
                                  <figure class="itemside ">
                                    <div style="width: 50%;"><img src="{{path}}{{item?.card.img}}" class="img-sm img-thumbnail"></div>
                                    <figcaption class="info">
                                      <label  class="title">{{item?.card?.name}}</label>
                                      <p  class="text-muted">  
                                       <!-- <label for="clipboard-example-textarea">  <label>{{item?.cardType?.name}} </label>
                                       </label> -->
                                         </p>
                                    </figcaption>
                                  </figure>
                                </div>
                                <div class=" col-lg-3">
                                  <label>Type {{item?.cardType?.name}} </label>
                                 </div>
                                <div class=" col-lg-2">
                                    <label>{{item?.user_first_name}}  {{item?.user_last_name}} </label>
                                   </div>
                                <div *ngIf="!item?.cardType?.name.includes('Google')" class=" col-lg-2">
                                  <div class="price-wrap lh-sm"> 
                                    <label>Abonnement {{item?.subscription?.type}}</label>  <br>
                                    <!-- <small class="text-muted"> $460.00 / per item </small>  -->
                                  </div> <!-- price-wrap .// -->
                                </div>
                                <div *ngIf="item?.cardType?.name.includes('Google')" class=" col-lg-2">
                                  <div class="price-wrap lh-sm"> 
                                    <label>{{item?.entreprise}}</label>  <br>
                                    <!-- <small class="text-muted"> $460.00 / per item </small>  -->
                                  </div> <!-- price-wrap .// -->
                                </div>
                                <div class="col-lg-1">
                                    <div class="price-wrap lh-sm"> 
                                      <label style="font-weight: bold;" >{{item?.price}} TND</label>  <br>
                                    </div> 
                                  </div>
                                  <!-- <div class="col-lg-3">
                                    <figure class="itemside ">
                                        <figcaption >
                                          <b  class="title text-bold"><a  class="btn btn-success">Génerer un QR code</a></b>
                                        </figcaption>
                                      </figure>
                                  </div> -->
                              
                              </article>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
</div>