<div *ngIf="isLoading">
    <div id="spinner"
    class=" show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  </div>
  
  <div *ngIf="!isLoading" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Gestion des abonnements</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!-- <th>
                                        ID
                                    </th> -->
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                    <th>
                                        Duree
                                    </th>

                                    <th> 
                                        <button mat-icon-button color="success" (click)="add()">
                                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                          </button>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr style=" width: 100%;" [style.display]="subscriptions.length == 0 ? '' : 'none'">
                                        <td colspan="4" class="no-results">aucun résultat</td>
                                      </tr>
                                    <tr *ngFor="let item of subscriptions">
                                        <td>
                                            {{item?.type}}
                                        </td>
                                        <td>
                                            {{item?.price}} TND
                                        </td>
                                        <td>
                                            {{item?.duration}} mois
                                        </td>
                                       
                                        <td>
                                            <button mat-icon-button color="accent" (click)="edit(item)">
                                                <mat-icon class="text-primary" aria-label="Edit">edit</mat-icon>
                                              </button>
                                      
                                              <button mat-icon-button color="accent" (click)="delete(item['subsId'])">
                                                <mat-icon class="text-danger"  aria-label="Delete">delete</mat-icon>
                                              </button>
                                        </td>
                                   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>